doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Hezzl_test_js_only
  body
    .wrapper
      .game__field
        .game__unit
        .game__unit
        .game__unit
        .game__unit
        .game__unit
        .game__unit
        .game__unit
        .game__unit
        .game__unit
        .game__unit
        .game__unit
        .game__unit
        .game__unit
        .game__unit
        .game__unit
        .game__unit
        .game__unit
        .game__unit
        .game__unit
        .game__unit
        .game__unit
        .game__unit
        .game__unit
        .game__unit
        .game__unit
      .game__page.game__page_win
        .game__page_subtitle Победа
        button.game__page_button Сыграть еще
      .game__page.game__page_lose
        .game__page_subtitle Вы проиграли
        button.game__page_button Сыграть еще 