//colors
$mainBackground: radial-gradient(#2f73d4, #2b62af);
$mainWhite: #fff;

$unitHover: #155abc;

$zeroBackground: #fffca8;
$zeroHole: #2f73d4;

$buttonAgainMain: #f8af54;
$buttonAgainHover: #f69e2f;

$unitsColorUserWin: #228B22;
$unitsColorUserWinBlink: #006400;
$unitsColorAIWin: #FF0000;
$unitsColorAIWinBlink: #B22222;

//resolutions
$desktop: 1280px;
$laptop: 980px;
$tablet: 768px;
$addition: 520px;
$smartphone: 480px;
$smartphoneAdd: 400px;
$phone: 320px;
