//colors
$mainBackground: radial-gradient(#2f73d4, #2b62af);
$mainWhite: #fff;

$unitHover: #155abc;

$zeroBackground: #fffca8;
$zeroHole: #2f73d4;

$buttonAgainMain: #f8af54;
$buttonAgainHover: #f69e2f;