.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background: $mainBackground;
}

.game__field {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;

    @include laptop {
        @include smartphoneGrz {
            width: 400px;
            height: 400px;
        }

        @include smartphoneAddGrz {
            width: 320px;
            height: 320px;
        }
    }

    @include tablet {
        @include smartphoneGrz {
            width: 400px;
            height: 400px;
        }

        @include smartphoneAddGrz {
            width: 320px;
            height: 320px;
        }
    }

    @include addition {
        width: 450px;
        height: 450px;
    }

    @include smartphone {
        width: 390px;
        height: 390px;
    }

    @include smartphoneAdd {
        width: 320px;
        height: 320px;
    }

    @include phone {
        width: 315px;
        height: 315px;
    }
}

.game__field_large {
    width: 800px;
    height: 800px;

    @include desktop {
        @include tabletGrz {
            width: 755px;
            height: 755px;
        }
    }

    @include laptop {
        width: 760px;
        height: 760px;

        @include smartphoneGrz {
            width: 400px;
            height: 400px;
        }

        @include smartphoneAddGrz {
            width: 320px;
            height: 320px;
        }
    }

    @include tablet {
        width: 504px;
        height: 504px;

        @include smartphoneGrz {
            width: 400px;
            height: 400px;
        }

        @include smartphoneAddGrz {
            width: 320px;
            height: 320px;
        }
    }

    @include addition {
        width: 480px;
        height: 480px;
    }

    @include smartphone {
        width: 400px;
        height: 400px;
    }

    @include smartphoneAdd {
        width: 312px;
        height: 312px;
    }
}

.game__unit {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid $mainWhite;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-color: $unitHover;
    }

    @include laptop {
        @include smartphoneGrz {
            width: 80px;
            height: 80px;
        }

        @include smartphoneAddGrz {
            width: 64px;
            height: 64px;
        }
    }

    @include tablet {
        @include smartphoneGrz {
            width: 80px;
            height: 80px;
        }

        @include smartphoneAddGrz {
            width: 64px;
            height: 64px;
        }
    }

    @include addition {
        width: 90px;
        height: 90px;
    }

    @include smartphone {
        width: 78px;
        height: 78px;
    }

    @include smartphoneAdd {
        width: 64px;
        height: 64px;
    }

    @include phone {
        width: 63px;
        height: 63px;
    }
}

.game__unit_large {
    @include desktop {
        @include tabletGrz {
            width: 94px;
            height: 94px;
        }
    }

    @include laptop {
        width: 94px;
        height: 95px;

        @include smartphoneGrz {
            width: 50px;
            height: 50px;
        }

        @include smartphoneAddGrz {
            width: 40px;
            height: 40px;
        }
    }

    @include tablet {
        width: 63px;
        height: 63px;

        @include smartphoneGrz {
            width: 50px;
            height: 50px;
        }

        @include smartphoneAddGrz {
            width: 40px;
            height: 40px;
        }
    }

    @include addition {
        width: 60px;
        height: 60px;
    }

    @include smartphone {
        width: 50px;
        height: 50px;
    }

    @include smartphoneAdd {
        width: 39px;
        height: 39px;
    }
}

// lighting the winner units of User
.game__unit_win_User {
    &:hover {
        background-color: $unitsColorUserWin;
    }

    background-color: $unitsColorUserWin;
}

// lighting the winner units of AI
.game__unit_win_AI {
    &:hover {
        background-color: $unitsColorAIWin;
    }

    background-color: $unitsColorAIWin;
}